
  html{
    height:100%;

  }
body {
  padding:0;
  margin:0;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI";
 
}

 .div1 {
  display: flex;
  height:auto;
}
nav {
    display: flex;
    background-color:black;
    flex-wrap: nowrap;
    position:fixed;
    height:40px;
    color:white;
  }
.div-nav-logo{
  height:100%;
  width:100px;
  padding-top:7px;
  box-sizing: border-box;
  text-align: center;
  background-color:#009688;
}
.div-nav-logo:hover{
  color:black;
  background-color:#c4c4c4;
}
.div-nav-team{ 
  height:100%;
  width:100px;
  margin: 0;
  padding: 0;
  padding-top:7px;
  box-sizing: border-box;
  color:white;
  background-color: black;
  text-align: center;
}
.div-nav-team:hover{
  background-color: white;
  color:black;
  }
.div-nav-work{ 
  height:100%;
  width:100px;
  margin: 0;
  padding: 0;
  padding-top:7px;
  color:white;
  box-sizing: border-box;
  background-color: black;
  text-align: center;
}

.div-nav-work:hover{
  background-color: white;
  color:black;
  }
.div-nav-prise{
  height:100%;
  width:100px;
  margin: 0;
  padding: 0;
  padding-top:7px;
  box-sizing: border-box;
  color:white;
  background-color: black;
  text-align: center;
}

.div-nav-prise:hover{
  background-color: white;
  color:black;
  }

.div-nav-contact{
  height:100%;
  width:100px;
  margin: 0;
  padding: 0;
  padding-top:7px;
  box-sizing: border-box;
  color:white;
  background-color: black;
  text-align: center;
}

.div-nav-contact:hover{
  background-color: white;
  color:black;
}
.div-nav-dropdown{
  height:100%;
  width:100px;
  margin: 0;
  padding: 0;
  padding-top:7px;
  text-align: center;

  box-sizing: border-box;
  color:white;
  background-color: black;

}

.div-nav-prise:hover{
  background-color: white;
  color:black;
}
.div-nav-search{ 
   height:100%;
  width:50px;
  padding-top:7px;
  text-align: center;
  color:white;
  float:right;
  background-color: black;
  margin-left:699px;
  box-sizing: border-box;

}

.div-nav-search:hover{
  
  background-color: #009688;
 }

.dropbtn {
  display: inline-block;
  height:34px;
  width:100px;
  color:white;
  text-align: center;
  text-decoration: none;
}

a:hover, .div-nav-dropdown:hover {
  background-color:#f1f1f1;
  color:black;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.sailboat{
  height:600px;
  width:100%;
  background-color: darkslateblue;
  /* margin-top:400px; */
}
.imgsailboat{
  height:600px;
  width:100%;
}
.learnw3css{
  height:50px;
  width: 80px;
 box-sizing: border-box;
 text-align: center;
}
.our-team{
  height:450px;
  width:100%;
  font-weight: 400;
  font-family: "Segoe UI";
  display: flex;
  flex-direction: column;

}
.text-in-our-team{
  background-color: #f1f1f1;
  width: 100%;
  height:150px;
  font-family: Verdana;
  padding-top: 30px;

  box-sizing: border-box;
text-align: center;

  
}
.pics-in-our-team{
  display: flex;

  height:300px;
  box-sizing: border-box;
  /* background-color:darkred; */
}
.pics-in-our-team > div {
  background-color: #f1f1f1;
  width:100%;
  height:300px;
  /* background-color: darkkhaki; */
  box-sizing: border-box;
  margin-right:10px;
}
.pics-in-our-team-pic{
  width:45%;
  height:150px;
border-radius:50%;
margin-left:30%;
  box-sizing: border-box;
  background-image: url("../img/avatar.jpg");
  background-repeat: no-repeat;
  background-size:150px 150px;
  background-color:darkcyan; 
}
.pics-in-our-team-pic:hover{
  opacity: 0.7;
  filter: alpha(opacity=50); 
}
.pics-in-our-team-text{
  text-align:center;
  height:150px;
  font-weight: 400;
  box-sizing: border-box;
  /* background-color: darkslategrey; */
}
.our-work-total{
  display: flex;
  flex-direction: row;
  height:550px;
  background-color:#333333;
  overflow: hidden;
  box-sizing: border-box;
  /* background-color:forestgreen; */
}
.our-work-div {
  
  width:24%;
  display:flex;
  color:white;
  font-family: Verdana;
  font-size: 15px;
  padding-left:20px;
  padding-top:60px;
  padding-right:20px;
  flex-direction: column;
  margin-left:5px;
  background-color:#333333;
  box-sizing: border-box;
 
 
}
.our-work-div1{
   width:24%;
  display:flex;
  color:black;
  font-family: Verdana;
  font-size: 15px;
  margin-left:20px;
  flex-direction: column;
  padding-top:70px;
  box-sizing: border-box;
}
.our-work-div2{
  width:24%;
  display:flex;
  color:black;
  font-family: Verdana;
  font-size: 15px;
  margin-left:20px;
  flex-direction: column;
  padding-top:70px;
  box-sizing: border-box;
}
.our-work-div3{
  width:24%;
  display:flex;
  color:black;
  font-family: Verdana;
  font-size: 15px;
  padding-top:70px;
  flex-direction: column;
  margin-left:20px;
  margin-right:3%;
  box-sizing: border-box;
}
.our-work-div-pic1{
  width:100%;
  height:170px;
  display:flex;
 flex-direction: column;
  box-sizing: border-box;
   background-image: url("../img/snow.jpg");
  /* background-color:indigo; */
}
.our-work-div-pic2{
  width:100%;
  height:170px;
  display:flex;
 flex-direction: column;
  box-sizing: border-box;
  background-image: url("../img/lights.jpg");
  /* background-color:indigo; */
}
.our-work-div-pic3{
  width:100%;
  height:170px;
  display:flex;
 flex-direction: column;
  box-sizing: border-box;
  background-image: url("../img/mountains.jpg");
  /* background-color:indigo; */
}
.our-work-div-text{
  box-sizing: border-box;
  width:100%;
  display:flex;
  overflow: hidden;
  flex-direction: column;
  height:230px;
   background-color:#fff; 
  /* padding-top: 10px; */
  padding-left:10px;
}
.text-in-pricing{
  background-color:white;
  width: 100%;
  height:200px;
  font-weight: 400;
  padding-top:50px;
  box-sizing: border-box;
text-align: center;

  
}
.basic-pro-premium{
  width:100%;
  box-sizing: border-box;
  height:550px;
  /* background-color: darkseagreen; */
  display:flex;
}
.basic{
  width:32%;
  height:100%;
 
  margin-right: 2%;
  box-sizing: border-box;
  /* background-color: brown; */
}
.pro{
  width:32%;
  height:100%;
  margin-right: 2%;
  box-sizing: border-box;
  /* background-color:yellowgreen; */
}
.premium{
  width:32%;
  height:100%;
  box-sizing: border-box;
  /* background-color: royalblue; */
}
ul{
  list-style-type: none;
  padding: 0;
  margin:0;
  display:flex;
  flex-direction: column;
  
}
.li-basic{
 width:100%;
 padding-top:16px !important;
 padding-bottom: 16px !important;
 box-sizing: border-box;
 border-right: solid 1px #cccccc;
 border-left: solid 1px #cccccc;
 border-top: solid 1px #cccccc;
 text-align: center;
}
.li-basic-basic{
  width:100%;
  height:100px;
  padding-top:20px;
  font-size: 24px!important;
  text-align: center;
  color:white;
  background-color:black;
}
.li-basic-signup{
  border:solid 1px #cccccc;
  text-align: center;
  width:100%;
  /* background-color: #009688; */
 box-sizing: border-box;
}
.li-pro{
  width:100%;
  height:58px;
  padding-top: 16px!important;
  padding-bottom: 16px!important;
  box-sizing: border-box;
 border-right: solid 1px #cccccc;
 border-left: solid 1px #cccccc;
 border-top: solid 1px #cccccc;
 text-align: center;
}
.li-pro-pro{
  width:100%;
  height:100px;
  padding-top:20px;
  font-size: 24px!important;
  text-align: center;
  color:white;
  background-color:#666666;
}
.li-pro-signup{
  border:solid 1px #cccccc;
  text-align: center;
  width:100%;
  /* background-color: #009688; */
 box-sizing: border-box;
}

.li-premium{
  width:100%;
  padding-top: 16px!important;
  padding-bottom: 16px!important;

  box-sizing: border-box;
 border-right: solid 1px #cccccc;
 border-left: solid 1px #cccccc;
 border-top: solid 1px #cccccc;
 text-align: center;
}
.li-premium-premium{
  width:100%;
  height:100px;
  padding-top:20px;
  font-size: 24px!important;
  text-align: center;
  color:white;
  background-color:black;
}
.li-premium-signup{
  border:solid 1px #cccccc;
  text-align: center;
  width:100%;
  /* background-color: #009688; */
 box-sizing: border-box;
}
.contact-us{
  padding: 40px 16px;
  width:100%;
  height:400px;
  background-color:#f0f0f0; 
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  
}
.contact-us-left{
  width:40%;
  height:80%;
  /* background-color: grey; */
  box-sizing: border-box;
}
.contact-us-right{
  width:60%;
  height:100%;
  /* background-color: darkgoldenrod; */
  box-sizing: border-box;
}
form{
  padding: 16px;
  height: 70%;
  box-shadow: 5px 10px 18px #888888;
  background-color:white; 
}
input{
  width:100%;
  height:32px;
  border:none;
border-bottom: solid 1px #cccccc;
box-sizing: border-box;
}
footer{
  height:250px;
  width:100%;
  background-color: black;
  align-items: center;
  color:white;
  box-sizing: border-box;
  text-align: center;

  padding-top:100px;
}
.contact-us-contact-us{
  border-bottom: 6px solid #009688!important;
  font-size: 24px!important;
}
p{
  line-height: 1.5;
}
.facebook{
  width:200px;
  height:40px;
  margin-left:43%;
  display:flex;
 
  /* background-color:#666666;  */
}
.facebook1{
  width:40px;
padding-top: 7px;
  background-color: #009688;
 margin-left: 5%;

}
.home-icon{
  display: inline-block;
  padding-right:20px;
}
.img-location{
  width: 100%;
}
h2{
  font-weight: 400;
}
.button1{
   border:none;
   color:white;
  width:150px;
  height:50px;
  margin-top:20px;
  margin-bottom:20px;
  background-color: #009688;
}
.button1:hover{
  color:black;
  background-color: #c1c1c1;
  text-shadow: none;
}
.theme-form-button{
  margin-left:600px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap; 
  overflow: hidden;
  border:none;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  margin-top:2px;
}
.w3-right {
  float: right!important;
}

.theme-form-button:hover{
  background-color: #666666;
  color:black;
}
.checkbox-button{
width:100%;
/* background-color:yellow; */
height: 50px;
display:flex;
flex-direction: row;
overflow: hidden;
box-sizing: border-box;
}
ul{
  margin-top: 10px;
}
ul:hover{
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}
.fa-map-marker{
  color:#009688;
  display: inline;
  margin-right:10px;
}
.fa-phone{
  color:#009688;
  display: inline;
  margin-right:10px;
}
.fa-envelope{
  color:#009688;
  display: inline;
  margin-right:10px;
}
.tag-a{
  color:white;
}
.tag-a:hover{
  background-color: #000000;
  color:white;
}
.facebook1:hover{
  background-color: #888888;
  color:black;
}

.checkbox{
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
  overflow: visible;
  font: inherit;
  margin-top: 6px;
}
lable{
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: inherit;
  cursor: default;
  margin-top:13px;
}
